body {
    background-color: grey;
}

.border {
    background-color: black;
    padding: 10px;
    display: inline-block;
    margin: 20% 50%;
    border-radius: 10%;
}


.red, .yellow, .green {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
}

.yellow, .green {
    margin-top: 5px;
}

.yellowinner, .greeninner {
    height: 50px;
    width: 50px;
}

.red {
    background-color: red;
    border: 10px solid darkred;
    box-shadow: none;
}

.red:hover, .red:active {
    box-shadow: 0 0 50px red, inset 0 0 50px white;
}

.redinner {
    width: 100px;
    height: 50px;
    background-color: lightcoral;
    border-radius: 0 0 150px 150px;
    margin-top: 50px;
}

.yellow {
    background-color: yellow;
    border: 10px solid orange;
    box-shadow: none;
}

.yellow:hover, .yellow:active {
    box-shadow: 0 0 50px yellow, inset 0 0 50px white;
}

.yellowinner {
    background-color: lightyellow;
    margin-top: 50px;
    margin-left: 50px;
    border-bottom-right-radius: 100%;
}

.green {
    background-color: green;
    border: 10px solid darkgreen;
    box-shadow: none;
}

.green:hover, .green:active {
    box-shadow: 0 0 50px green, inset 0 0 50px white;
}

.greeninner {
    background-color: lightgreen;
    margin-top: 50px;
    border-bottom-left-radius: 100%;
}